@page
@model CashFlow.Models.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the cashflow case.</p>
    <p>I will be attemting to finish this case by Thursday.</p>
</div>